<link rel="stylesheet" href="css/style.css">

<h1 class="text-center">CoachingController#ask</h1>
<p class="text-center">Find me in app/views/coaching_controller/ask.html.erb</p>

<form class="text-center" action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input class="btn-treehouse" type="submit" value="Go on!">
</form>
